bin/
include/
lib/
*.py[cod]
*.sqlite3
pip-selfcheck.json
sample_project/
media/

o2o/settings/production.py
accounts/management/commands/makesuper.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
