{% extends "base.html" %}
{% block title %}메인{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  {% if user.is_authenticated %}
    {% if user.partner %}
      <div>{{ user.username }}님 환영합니다!</div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-sm-6 col-sm-3-offset">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">가게 이름</th>
                <td>{{ user.partner.name }}</td>
              </tr>
              <tr>
                <th scope="row">연락처</th>
                <td>{{ user.partner.contact }}</td>
              </tr>
              <tr>
                <th scope="row">주소</th>
                <td>{{ user.partner.address }}</td>
              </tr>
              <tr>
                <th scope="row">가게 소개</th>
                <td>{{ user.partner.description }}</td>
              </tr>
            </tbody>
          </table>
          <a href="/partner/edit/">
            <button class="btn btn-outline-info btn-block" type="submit">업체 정보 수정</button>
          </a>
        </div>

      </div>
    {% else %}
      <p class="text-secondary">가게 정보를 입력해주세요!</p>
      <hr class="mb-4">
      <div class="row">
        <div class="col-sm-6 col-sm-3-offset">
          <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info btn-block" type="submit">
              저장하기
            </button>
          </form>
        </div>
      </div>
    {% endif %}
  {% else %}
    로그인 해주세요
  {% endif %}
</div>
{% endblock %}
