{% extends "base.html" %}
{% block title %}로그인{% endblock %}
{% block body %}
<hr class="mb-4">
<div class="container">
  <form method="post" action="" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">member login</h1>
    <hr class="mb-4">
    {% csrf_token %}
    <input type="text" name="username" class="form-control" placeholder="ID" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    {{ error }}
    <button class="btn btn-lg btn-outline-info btn-block" type="submit">login</button>
    <p class="mt-5 mb-3 text-muted text-right">배달의 민족</p>
  </form>
</div>
{% endblock %}
