{% extends "base.html" %}
{% block title %}메뉴 리스트{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <p class="text-secondary">메뉴 리스트</p>
  <hr class="mb-4">
  <div class="col-sm-6 col-sm-3-offset">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">메뉴 사진</th>
          <th scope="col">이름</th>
          <th scope="col">가격</th>
          <th scope="col">메뉴 소개</th>
        </tr>
      </thead>
      <tbody>
        {% for menu in menu_list %}
        <tr>
          <td><a href="/partner/menu/{{ menu.id }}/"><img style="max-width:150px;" src="{{ menu.image.url }}"></a></td>
          <td><a href="/partner/menu/{{ menu.id }}/">{{ menu.name }}</a></td>
          <td>{{ menu.price }}</td>
          <td>{{ menu.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr class="mb-4">
    <a href="/partner/menu/add/">
      <button class="btn btn-outline-info btn-lg" type="submit">메뉴 추가</button>
    </a>
  </div>
</div>
{% endblock %}
