<hr class="mb-4">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <h4><a class="navbar-brand text-info" href="/partner/">업체 배민</a></h4>
    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/partner/menu/">메뉴관리</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr class="mb-4">
